@using Microsoft.AspNetCore.Authorization
@using WebsitePortfolioJTorres.Shared.Models
@using WebsitePortfolioJTorres.Shared.Interfaces
@using WebsitePortfolioJTorres.Client.Services
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager _urlNavigationManager
@inject IResumeService _resumeService
@inject PublicClient PublicClient
<!--Header-->
@*<h3 style="text-align:left;background-color:#343a40; color:#fed136">@Title</h3>*@
<h3 style="text-align:left">@Title</h3>


<!--Body-->
@if (ContactList == null)
{
    <p>Loading Contacts... </p>
}
else
{

    <table class="table text-center table-sm" style="width:100%">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Email</th>
                <th>Address</th>
                @if (authState.User.Identity.IsAuthenticated)
                {
                    <th>
                        <button type="submit" style="color:black" class="btn btn-primary" @onclick="NavToAddContact"><b>  ADD NEW  </b></button>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (ContactInfo contact in ContactList)
            {
                <tr>
                    <td>@contact.Name</td>
                    @*<th>@school.Major</th>*@
                    <td>@contact.Phone</td>
                    <td>@contact.Email</td>
                    <td>@contact.Address</td>
                    @if (authState.User.Identity.IsAuthenticated)
                    {
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" style="color:black">Modify</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><button class="btn-xs btn-success" @onclick="@(() => OnEditClick(contact))">  EDIT  </button></li>
                                    <li><button class="btn-xs btn-danger" @onclick="@(() => DeleteOnValidSubmit(contact.ContactId))">DELETE</button></li>
                                </ul>

                            </div>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>

    @if (bVisible)
    {
        <h5>Edit Contact</h5>
        <!--Body-->
        <EditForm Model="@ResumeField">

            <!--Name-->
            <div class="form-group row mb1">
                <label class="col-sm-3 col-form-label">School Name:</label>
                <div class="col-sm-3">
                    <InputText class="form-control"
                               @bind-Value="@ResumeField.MyContactInfo.Name" />
                    @*<ValidationMessage For="@resume.MyContactInfo.Name"/>*@
                </div>
            </div>
            <!--Phone-->
            <div class="form-group row mb1">
                <label class="col-sm-3 col-form-label">Start:</label>
                <div class="col-sm-3">
                    <InputNumber class="form-control"
                                 @bind-Value="@ResumeField.MyContactInfo.Phone" />
                    @*<ValidationMessage For="@resume.MyContactInfo.Name"/>*@
                </div>
            </div>
            <!--Email-->
            <div class="form-group row mb1">
                <label class="col-sm-3 col-form-label">End:</label>
                <div class="col-sm-3">
                    <InputText class="form-control"
                               @bind-Value="@ResumeField.MyContactInfo.Email" />
                    @*<ValidationMessage For="@resume.MyContactInfo.Name"/>*@
                </div>
            </div>
            <!--Address-->
            <div class="form-group row mb1">
                <label class="col-sm-3 col-form-label">End:</label>
                <div class="col-sm-3">
                    <InputText class="form-control"
                               @bind-Value="@ResumeField.MyContactInfo.Address" />
                    @*<ValidationMessage For="@resume.MyContactInfo.Name"/>*@
                </div>
            </div>

            <!--Buttons-->

            <button class="btn-xs btn-success" @onclick="@UpdateOnValidSubmit">  update  </button>
            <button class="btn-xs btn-light" @onclick="@Cancel"> close </button>
            @*<button class="btn-xs btn-danger" @onclick="@DeleteOnValidSubmit"> delete </button>*@

        </EditForm>

    }
}



@code {

    [Parameter]
    public string Title { get; set; }
    [Inject]
    public IJSRuntime Js { get; set; }  // used for Javascript confirm delete dialog
    private bool bVisible = false;
    private AuthenticationState authState;


    List<ContactInfo> ContactList = new List<ContactInfo>();
    Resume ResumeField = new Resume();
    //Education education = new Education();



    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        //ContactList = await _resumeService.GetContactInfo();
        ContactList = await PublicClient.Client.GetFromJsonAsync<List<ContactInfo>>("api/contacts");
    }


    private async Task OnEditClick(ContactInfo contactSelected)
    {
        Console.WriteLine($"OnEdit Called for contact {contactSelected.Name}");
        this.ResumeField.MyContactInfo = contactSelected;
        //this.education = eduSelected;

        bVisible = true;
        StateHasChanged();
    }

    private async Task UpdateOnValidSubmit()
    {
        Console.WriteLine("Update called from editeducation.razor");
        await _resumeService.UpdateContactInfo(ResumeField.MyContactInfo);
        StateHasChanged();
        //bVisible = false;
    }


    private async Task DeleteOnValidSubmit(int id)
    {
        Console.WriteLine("Delete called");
        var confirmed = await Js.InvokeAsync<bool>("confirm", $"Are you sure you want to delet{ResumeField.MyContactInfo.Name} ?");
        if (confirmed)
        {
            await _resumeService.DeleteContactInfo(id);
            StateHasChanged();
        }

    }


    private void Cancel()
    {
        bVisible = false;
    }


    private void NavToAddContact()
    {
        _urlNavigationManager.NavigateTo("addcontact");
    }




}
